.buttons{
    height: 5rem;
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    button{
        border:none;
        padding: 1rem;
        margin: 0rem 2rem;
        border-radius: 10px;
        background: #424242;
        color: #ffffff;
        font-size: 0.8rem;
    }
}

.circle{
    width: 120vw;
    border-radius: 50%;
    background: #d4d4d4;
    position: absolute;
    bottom: 0;
    height: 30rem;
    transform: translateY(51%) translateX(-2%);
}

.circle-2{
    background: #b4b4b4;

    transform: translateY(65%) translateX(10%);
}