.levels_data{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    
    .exlist {
        .list, .list0 {
            width: 70%;
            background: #d4d4d4;
            padding: 1rem;
            margin: 1rem;
            font-size: 1.5rem;
            border-radius: 10px;
            text-align: center;
            transition: all 0.3s ease;
            &:hover {
              box-shadow: 1px 1px 5px 2px #11111144;
            }
        
    }
  }
}
.list1, .list2, .list3, .list4{
    display: none;
    transition: all 0.3s ease;
}

.visible{
    display: block;
}